footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 0 20px;
}

.footer-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
}

.footer-section p {
    color: #ccc;
}

.footer-section a {
    text-decoration: none;
    color: #ccc;
    display: inline-block;
    margin-right: 10px; /* Adjust the spacing between social links */
}

.footer-section a:hover {
    color: #fff;
}

/* Responsive styles for mobile view */
@media (max-width: 767px) {
    .footer-content {
        flex-direction: column; /* Stack sections vertically for mobile view */
        text-align: center; /* Center-align text for mobile view */
    }

    .footer-section {
        flex: none; /* Reset flex property to allow sections to take full width */
        margin: 0;
        margin-bottom: 20px;
    }
}
  
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }