* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  header {
    background-color: #666;
    padding: 10px;
    text-align: left;
    font-size: 50px;
    color: white;
    
  }

  .logo {
    max-width: 60px; /* Set the maximum width for the logo container */
    margin: 30px;   /* Center the logo horizontally */
    
    align-items: center;
    justify-content: center;
}

    .logo img {
    width: 50px; /* Make the image fill the entire width of the .logo container */
    height: 50px; /* Maintain the image's aspect ratio */
    max-width: 100px; /* Adjust the max-width of the logo image */
    margin-right: 10px;
    margin-left: 4px;
    margin-top: 10px;
}
   
  
  /* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    width: 16%;
    height: 500px; /* only for demonstrastion, should be removed */
    background: #ccc;
    padding: 10px;
    
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type:none;
    margin-top: 40px;
    padding: 0;
  }
  
  article {
    float: left;
    padding: 60px;
    width: 84%;
    background-color: #f1f1f1;
    height: 500px; /* only for demonstration, should be removed */
  }
  
  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
    background-color: #777;
    padding: 20px;
    text-align: center;
    color: white;
  }

  .button {

    text-decoration: none;
    padding: 8px 10px;
    border-radius: 3px;
    background-color: #1b6ca2;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin: 8px; /* Add a margin of 5px */
    margin-top: 15px;
    display:list-item/* Ensure the button is displayed as a block element with specified margin */
    
  }
  
  .button:hover {
    background-color: #50ace9;
  }


  
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }